header {
    background-color: #232a34;
    color: white;
    height: 125px;
    width: 100%
}

footer{
    background-color: #232a34;
    color: white;
    height: 50px;
    width: 100%
}

#logo{
    padding-left: 25%;
    padding-top: 50px
}

#content {
    height: 500px;
    border-left: 1px solid #C0C0C0;
    width: 800px;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 5px;
    background-color: #FFF0F5


}

body {
    margin: 0;
    background-color: #2b3841
}

p{
    padding: 60px

}

.theme{
    float: left;
    font-size: large;
    padding-left: 120px;
    padding-top: 20px
}

.date{
    float: right;
    padding-top: 20px;
    padding-right: 20px
}
